<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="by.istin.android.xcore.testapp"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="by.istin.android.xcore.app.Application"
        android:theme="@style/AppTheme">

        <activity android:name="by.istin.android.xcore.app.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="by.istin.android.xcore.app.WearableActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="by.istin.android.xcore.service.DataSourceService"
            android:exported="false" />

        <provider
            android:name="by.istin.android.xcore.provider.ContentProvider"
            android:authorities="by.istin.android.xcore.testapp.ModelContentProvider"
            android:exported="false" />

        <service
            android:name="by.istin.android.xcore.wearable.WearableService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

    </application>

</manifest>