<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="by.istin.android.xcore.sample"
   >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".Application"
        >

        <service
            android:name="by.istin.android.xcore.service.DataSourceService"
            android:exported="false" />

        <provider
            android:name="by.istin.android.xcore.sample.core.provider.ContentProvider"
            android:authorities="by.istin.android.xcore.sample.ModelContentProvider"
            android:exported="false" />

        <activity
            android:name=".StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SimpleActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".AdvancedActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".LoaderTestActivity"
            android:label="@string/app_name"/>
    </application>

</manifest>
